*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8eb1c7;
  
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 13px;
}

.board {
  width: 550px;
  height: 500px;
  background-color: white;
  border: 20px solid #30292f;
  border-radius : 5%;
}

/* Die Component styling */

.container-die {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

.cont-one, .cont-two{
  display: flex;
  justify-content: center;
  gap: 50px;
}

.cont-one h2, .cont-two h2 {
  border: 3px solid grey;
  border-radius: 15%;
  width: 48px;
  height: 38px;
  text-align: center;
  background-color: rgb(248, 206, 101);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
}

.num {
  font-size: 28px;
}





