*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8eb1c7;
  font-family: "Play", sans-serif;
  
}

#main-title {
  text-align: center;
  margin: 10px;
  font-size: 35px;
}

#main-p {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 6px;
}

.board {
  width: 550px;
  height: 600px;
  background-color: white;
  border: 20px solid #30292f;
  border-radius : 5%;
}

/* Die Component styling */

.container-die {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
  width: 100%;
}


 .num {
  border: 3px solid grey;
  width: 48px;
  height: 38px;
  text-align: center;
  background-color: rgb(234, 200, 114);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.15);
  font-size: 28px;
  cursor: pointer;
}

#btn-roll {
  margin-top: 20px;
  width: 120px;
  height: 50px;
  display: block;
  margin: 10px auto;
  color: white;
  background-color: #e52b2c ;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
}

#btn-roll:focus {
  outline: none;
}

#btn-roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}




